<section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" (change)="selectAllTodos()">
    <label for="toggle-all">
        ::before
        "Mark all as complete"
    </label>
    <ul class="todo-list">
        <li *ngFor="let todo of todos; let idx = index" [ngClass]="{ editing:isEditingTodo(idx), completed: todo.isDone }">
            <div class="view">
                <input class="toggle" type="checkbox" (change)="toggleTodoDoneState(idx, todo)" [checked]="todo.isDone">
                <label *ngIf="!isEditingTodo(idx)" (dblclick)="editTodo(idx)">{{ todo.name }}</label>
                <input [(ngModel)]="todo.name" type="text" *ngIf="isEditingTodo(idx)" (keyup.enter)="updateTodo(idx, $event.target.value)"
                    (blur)="updateTodo(idx, $event.target.value)">
                <button class="destroy" (click)="deleteTodo(idx)"></button>
            </div>
        </li>
    </ul>
</section>